ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.blog-container ul{
    margin: 0;
    padding: 0;
    list-style: none none;
}
.blog-container .post-container{
    border: 1px solid #ccc;
}

.blog-container .post-container .post-container__content{
    padding: 20px;
}


.blog-container .post-container .post-container__content .post-meta{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 10px 0;
}
.blog-container .post-container .post-container__content .post-meta .column1{
    min-width: 80%;
}

.rect{
    border: 1px solid rgba(0,0,0,0.05);
    padding: 1px;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.05);
}

.categories {
    border-bottom: 1px solid #ccc;
    font-size: medium;
}
.categories ol {
    list-style-type: none;
    padding-left: 5%;
}

.category {
    display: inline-block;
    padding: 10px;
}

.category a::after {
    display: inline-block;
    color: #000;
    font-size: 100%;
    font-weight: bold;
    padding: 0 3px;
}
