<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Alyona_Post::module"
             title="Custom admin posts"
             module="Alyona_Post"
             sortOrder="51"
             resource="Magento_Backend::content"/>
        <add id="Alyona_Post::post"
             title="Post"
             module="Alyona_Post"
             sortOrder="1"
             action="alyona_post/post"
             parent="Alyona_Post::module"
             resource="Magento_Backend::content"/>
    </menu>
</config>
