<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Alyona_PostEAV::module"
             title="Blog"
             module="Alyona_PostEAV"
             sortOrder="1"
             resource="Magento_Backend::content"/>
        <add id="Alyona_PostEAV::post"
             title="Posts"
             module="Alyona_PostEAV"
             sortOrder="1"
             action="posteav/post"
             parent="Alyona_PostEAV::module"
             resource="Magento_Backend::content"/>
        <add id="Alyona_PostEAV::tag"
             title="Tags"
             module="Alyona_PostEAV"
             sortOrder="1"
             action="posteav/tag"
             parent="Alyona_PostEAV::module"
             resource="Magento_Backend::content"/>
        <add id="Alyona_PostEAV::category"
             title="Categories"
             module="Alyona_PostEAV"
             sortOrder="1"
             action="posteav/category"
             parent="Alyona_PostEAV::module"
             resource="Magento_Backend::content"/>
    </menu>
</config>
