<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="alyona_posteav_listing_data_source" xsi:type="string">Alyona\PostEAV\Model\ResourceModel\Post\Grid\Collection</item>
                <item name="alyona_posteav_tag_listing_data_source" xsi:type="string">Alyona\PostEAV\Model\ResourceModel\Tag\Grid\Collection</item>
                <item name="alyona_posteav_category_listing_data_source" xsi:type="string">Alyona\PostEAV\Model\ResourceModel\Category\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Alyona\PostEAV\Model\ResourceModel\Post\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">alyona_posteav</argument>
            <argument name="resourceModel" xsi:type="string">Alyona\PostEAV\Model\ResourceModel\Post\Post</argument>
        </arguments>
    </virtualType>
    <virtualType name="Alyona\PostEAV\Model\ResourceModel\Tag\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">alyona_posteav_tags</argument>
            <argument name="resourceModel" xsi:type="string">Alyona\PostEAV\Model\ResourceModel\Tag\Tag</argument>
        </arguments>
    </virtualType>
    <virtualType name="Alyona\PostEAV\Model\ResourceModel\Category\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">alyona_posteav_category</argument>
            <argument name="resourceModel" xsi:type="string">Alyona\PostEAV\Model\ResourceModel\Category\Category</argument>
        </arguments>
    </virtualType>

    <preference for="Alyona\PostEAV\Api\Data\PostInterface" type="Alyona\PostEAV\Model\Post"/>
    <preference for="Alyona\PostEAV\Api\PostRepositoryInterface" type="Alyona\PostEAV\Model\PostRepository"/>
    <preference for="Alyona\PostEAV\Api\PostSearchResultInterface" type="Alyona\PostEAV\Model\PostSearchResult"/>
</config>
