<ul class="blog-container">
    <!-- ko foreach: {data: posts, as: 'post'} -->
    <li class="post-container" data-bind="attr: {id: post.id}">
        <div class="post-container__content">
            <a data-bind="attr: {href: post.url}"><h2 data-bind="text: post.title"></h2></a>
            <div class="post-meta">
                <div class="column1">
                    tags:
                    <!-- ko foreach: {data: post.tags, as: 'tag'} -->
                    <span data-bind="text: tag"> </span>
                    <!-- /ko -->
                </div>
                <div class="column2" data-bind="text: $parent.getDate(post.updatedAt)"></div>
            </div>
            <p data-bind="text: post.content"></p>
        </div>
    </li>
    <!-- /ko -->
</ul>
