<div class="post-container">
    <li class="post-container" data-bind="attr: {id: posts.id}">
        <div class="post-container__content">
            <h2 data-bind="text: posts.title"></h2>
            <div class="post-meta">
                <div class="column1">
                    tags:
                    <!-- ko foreach: {data: posts.tags, as: 'tag'} -->
                    <span data-bind="text: tag"> </span>
                    <!-- /ko -->
                </div>
            </div>
            <p data-bind="text: posts.content"></p>
        </div>
    </li>
</div>
